{% extends 'base.html' %} {% block content %}
<div style="text-align: center; margin-top: 80px">
  <h1 style="font-size: 4rem; color: #dc2626">500</h1>
  <h2>Помилка сервера</h2>
  <p style="color: #64748b; margin: 15px 0 30px 0">
    Щось пішло не так на нашій стороні. Наші майстри вже ламають голову над цим,
    щоб виправити помилку. Спробуйте оновити сторінку через кілька хвилин або
    повернуться пізніше. Ми вибачаємося за незручності та дякуємо за ваше
    терпіння, поки ми працюємо над усуненням цієї помилки.
  </p>
  <a href="/" class="btn" style="background-color: #475569">На головну</a>
</div>
{% endblock %}
